<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.upnorway.listeners.CustomListeners" />
	</listeners>

	<test name="Home page">
		<parameter name="keyword_for_less" value="drifting" />
		<parameter name="keyword_for_many" value="summer" />
		<parameter name="keyword_invalid" value="abcdxyg987" />
		<parameter name="firstname" value="Virat" />
		<parameter name="lastname" value="Kohli" />
		<parameter name="age" value="34 years young" />
		<parameter name="email" value="virat@bcci.in" />
		<parameter name="phone" value="0097444667" />
		<parameter name="arrivaldate" value="31st of December 2030" />
		<parameter name="lengthofthetrip" value="4" />
		<parameter name="occupation" value="Cricketer" />
		<parameter name="adultscount" value="9" />
		<parameter name="travellingfrom" value="India" />
		<parameter name="message"
			value="I would love to travel Norway" />

		<classes>
			<class name="com.upnorway.testcases.Homepage" />
			<class name="com.upnorway.testcases.TailorMyJourney" />
			<class name="com.upnorway.testcases.SendEnquiry" />
			<class name="com.upnorway.testcases.SearchAnything" />

		</classes>


	</test>

	<test name="Journeys">
		<parameter name="keyword1" value="Os" />
		<parameter name="keyword2" value="fish" />
		<parameter name="fname" value="Brian" />
		<parameter name="lname" value="Lara" />
		<parameter name="email" value="brian@cricket.wi" />
		<parameter name="mobile" value="9876543" />
		<parameter name="from" value="West Indies" />
		<parameter name="count" value="4" />
		<parameter name="expkeyword1" value="eat" />


		<classes>
			<class name="com.upnorway.testcases.Journeys" />
			<class name="com.upnorway.testcases.Experiences" />

		</classes>

	</test>
</suite> <!-- Suite -->
