<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.upnorway.listeners.CustomListeners" />
	</listeners>

	<test name="Home page">
		<parameter name="keyword_for_less" value="drifting" />
		<parameter name="keyword_for_many" value="summer" />
		<parameter name="keyword_invalid" value="abcdxyg987" />
		<parameter name="firstname" value="Indika" />
		<parameter name="lastname" value="White" />
		<parameter name="age" value="44 years young" />
		<parameter name="email" value="dana@ufc.com" />
		<parameter name="phone" value="0097444667" />
		<parameter name="arrivaldate" value="31st of December 2030" />
		<parameter name="lengthofthetrip" value="4" />
		<parameter name="occupation" value="Enterprenuer" />
		<parameter name="adultscount" value="9" />
		<parameter name="travellingfrom"
			value="United States of America" />
		<parameter name="message"
			value="I would love to travel Norway" />
		<parameter name="verifyText"
			value="AUTHENTIC EXPERIENCES FOR THE DISCERNING TRAVELER" />
		<parameter name="verifyTextContactInfo"
			value="Please fill out all the required fields." />
		<parameter name="enquireErrorMessage"
			value="Please fill all the required fields" />

		<classes>
			<class name="com.upnorway.testcases.Homepage" />
			<class name="com.upnorway.testcases.TailorMyJourney" />
			<class name="com.upnorway.testcases.SendEnquiry" />
			<class name="com.upnorway.testcases.SearchAnything" />
		</classes>


	</test>

	<test name="Journeys">
		<parameter name="keyword1" value="Os" />
		<parameter name="keyword2" value="fish" />
		<parameter name="keyword3" value="cross" />
		<parameter name="fname" value="Narendra" />
		<parameter name="lname" value="Singh Modhi" />
		<parameter name="email" value="president@india.com" />
		<parameter name="mobile" value="9876543" />
		<parameter name="from" value="India" />
		<parameter name="count" value="4" />
		<parameter name="expkeyword1" value="eat" />


		<classes>
			<class name="com.upnorway.testcases.Upguides" />
			<class name="com.upnorway.testcases.Journeys" />
			<class name="com.upnorway.testcases.Experiences" />
			<class name="com.upnorway.testcases.General" />
		</classes>

	</test>
</suite> <!-- Suite -->
